<div class="container" id="hmabt">
  <h1>How it works?</h1>
  <p class="text-primary">We collect jobs from employers world wide and resumes. The bot scans all jobs matching your skills and forwards your resume to the organization. You dont need to search for jobs</p>      
  <p class="text-primary">We Search for jobs and apply for you!</p>
</div>