<nav id="trignav" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style=" font-size : 24px;" class="navbar-brand" href="/">Trigger Jobs</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="primary"><a href="/jobs">Current  Jobs</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>