<!DOCTYPE html>
<html>
 <head>
 <%include ./partials/head %>
 </head>
  <body>
  <%include ./partials/header %>

    <h1><%= title %></h1>
    <p class="primary">Error : <%= title %></p>
   <!--  <p> <%= message %></p> -->
    
  </body>
  <%include ./partials/footer %>
</html>
