<!DOCTYPE html>
<html>
 <head>
 <%include ./partials/head %>
 </head>
  <body>
  <%include ./partials/header %>
    
 

 <%include ./partials/about %>

  </body>
  <%include ./partials/footer %>
</html>
