body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    background-color: #b37590;
    border-color: #080808
	}
 .footer-block {
      margin: 20px 0;
 }

#trignav{
  background-color: #1c13b3;
  border-color: #080808;
}

.trigfooter{
  margin-left: -50px;
}

